
Vagrant.configure("2") do |config|

{%for device in devices%}

    config.vm.define "{{device.name}}" do |device|
        device.vm.hostname = "{{device.name}}"
        device.vm.box ="{%if device.type == "switch" or device.type == "router"%}higebu/vyos{%endif%}{%if device.type == "host"%}boxcutter/ubuntu1404{%endif%}"
    end # config.vm.define {{device.name}}

{%endfor%}

end  # Vagrant.configure
